// Monochrome
$color-black: #000;
$color-white: #fff;

// Greys
$color-grey-light: #999;
$color-grey-dark: #555;
$color-grey-darker: #333;
$color-grey-darkest: #222;

// Greens
$color-green-light: lightgreen;

// Reds
$color-red-light: #FF5733;
